.typography {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #3d779b;
  padding: 0px 32px 0px 32px;

  height: 16px;
  top: 11px;
}
