.navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    color: white !important;
    background: #3D779B !important;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}