
<div  style="background-color:#E7F3FF ; height: 1080px; padding: 2rem;">
    <div  class="flex-start d-flex justify-content-around  p-1 gap-1">
    <h3 style="margin: 0;">Calender</h3>
    <div  class="container-class"> 
        <div  class="flex-start d-flex justify-content-around  p-1 gap-1">
        <input style="width: 18rem; "  class="form-select m-3" aria-label="Default select example" placeholder="{{placeholder1}}" />
        <input   class="form-control m-3 custom-btn"  placeholder=":" />
     <input style="width: 18rem;"  class="form-select m-3 " aria-label="Default select example" placeholder="{{placeholder3}}" />
       </div>
        <hr class="divider">
        
            <h3 class="lorem-class">Lorem</h3>
            <div  class="flex-start d-flex justify-content-around  m-2 gap-1">
            <input style="width: 7rem; "  class="form-select m-2" aria-label="Default select example" placeholder="{{placeholder1}}" />
            <input   class="form-control m-2 custom-btn"  placeholder=":" />
            <input style="width: 7rem;"  class="form-select m-2 " aria-label="Default select example" placeholder="{{placeholder3}}" />
           
            <input style="width: 7rem; "  class="form-select m-2" aria-label="Default select example" placeholder="{{placeholder2}}" />
            <input   class="form-control m-2 custom-btn"  placeholder=":" />
            <input style="width: 7rem;"  class="form-select m-2 " aria-label="Default select example" placeholder="{{placeholder3}}" />
            <i class="bi bi-trash icon-class"></i>
            </div>

            <div  class="flex-start d-flex justify-content-around  m-2 gap-1">
                <input style="width: 7rem; "  class="form-select m-2" aria-label="Default select example" placeholder="{{placeholder1}}" />
                <input   class="form-control m-2 custom-btn"  placeholder=":" />
                <input style="width: 7rem;"  class="form-select m-2 " aria-label="Default select example" placeholder="{{placeholder3}}" />
               
                <input style="width: 7rem; "  class="form-select m-2" aria-label="Default select example" placeholder="{{placeholder2}}" />
                <input   class="form-control m-2 custom-btn"  placeholder=":" />
                <input style="width: 7rem;"  class="form-select m-2 " aria-label="Default select example" placeholder="{{placeholder3}}" />
                <i class="bi bi-trash icon-class"></i>
                </div>


                <div  class="flex-start d-flex justify-content-around  m-2 gap-1">
                    <input style="width: 7rem; "  class="form-select m-2" aria-label="Default select example" placeholder="{{placeholder1}}" />
                    <input   class="form-control m-2 custom-btn"  placeholder=":" />
                    <input style="width: 7rem;"  class="form-select m-2 " aria-label="Default select example" placeholder="{{placeholder3}}" />
                   
                    <input style="width: 7rem; "  class="form-select m-2" aria-label="Default select example" placeholder="{{placeholder2}}" />
                    <input   class="form-control m-2 custom-btn"  placeholder=":" />
                    <input style="width: 7rem;"  class="form-select m-2 " aria-label="Default select example" placeholder="{{placeholder3}}" />
                    <i class="bi bi-trash icon-class"></i>
                    </div>

         
                    <button class="icon-btn m-2">
                        <i class="bi bi-plus"></i>
                        New Button
                      </button>
                      <hr class="divider">
              
                      <div  class="flex-start d-flex justify-content-around  p-1 gap-1">
                        <input style="width: 18rem; "  class="form-select m-3" aria-label="Default select example" placeholder="{{placeholder1}}" />
                        <input   class="form-control m-3 custom-btn"  placeholder=":" />
                     <input style="width: 18rem;"  class="form-select m-3 " aria-label="Default select example" placeholder="{{placeholder3}}" />
                       </div>
                       <div class="d-flex  align-items-center ">
                       <button class="cancel-btn m-2">
                        Cancel
                      </button>
                      <button class="submit-btn m-2">
                       Submit
                      </button>
                    </div>
    
</div>
</div>
 </div>